body {
   height: 100vh;
   width: 100vw;
   background-image: url(./assets/WEBSITEbckg.png);
   background-size: cover;
   overflow: hidden;
}

.main-panel {
   position: relative;
   width:600px; margin:0 auto;
   top: 80px
}

.link-list {
   position: relative;;
   width: 300px;
   display: block;
   overflow: hidden;
   left: 25%;
   top: -64px;
}

.link-gif {
   position: relative;
   left: -50%;
}

